@import "normalize.css/normalize.css";
@import "fonts";
@import "vars";
@import "colors";
@import "tags";

@import "views";
@import "components";

*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    height: 100%;
    font-size: 10px;
}

body,
#app {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

body {
    background-color: #f4f4f4;
    background-image: url(../svg/pattern.svg);
    line-height: 1.2;
    font-family: Raleway, sans-serif;
    font-size: 14px;
    color: $font-color;
}

#app {
    flex-grow: 1;
    padding-top: 50px;
}

.svg-master {
    display: none;
}

.u-no-transition {
    transition-duration: 0 !important;
}
