@import "normalize.css/normalize.css";
@import "colors";

@import "app-header/app-header";

html {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

.svg-master {
    display: none;
}
