$color-primary-normal: #f1573d;
$color-primary-ligher: #FDCE7E;
$color-grey-dark: #2c3e50;
$color-grey-light: #eeecec;
$color-whitey: #ecf0f1;

$facebook-color: #3b5998;
$twitter-color: #00aced;
$google-color: #dd4b39;

$font-color: #202020;

$header-font-color: #fff;
