@font-face {
    font-family: Raleway;
    src: url(/fonts/raleway/Raleway-Regular.ttf);
}

@font-face {
    font-family: Raleway;
    font-weight: 700;
    src: url(/fonts/raleway/Raleway-ExtraBold.ttf);
}

@font-face {
    font-family: Lora;
    src: url(/fonts/lora/Lora-Regular.ttf);
}
