input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

button {
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 12px;
    padding-right: 12px;
    border-width: 0;
    border-radius: 3px;
    background-color: transparent;
    font-family: inherit;
    font-size: 1.1em;
    transform: translateY(0);
    transition-property: box-shadow;
    transition-duration: .2s;
    transition-timing-function: ease-out;
    cursor: pointer;

    &:hover,
    &:focus {
        cursor: pointer;
    }
}

@mixin button-color($color-start: #ff9a44, $color-stop: #fc6076, $text-color: #fff)
{
    background-image: linear-gradient(-20deg, #{$color-stop} 0%, #{$color-start} 100%);
    color: #{$text-color};

    &:hover {
        box-shadow: 0 0 6px #{$color-start};
    }

    &:focus {
        outline: none;
        box-shadow: 0 0 20px #{$color-start};
    }
}

input {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

img {
    max-width: 100%;
}
