input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

button,
.button {
    display: inline-flex;
    align-items: center;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 12px;
    padding-right: 12px;
    border-width: 0;
    border-radius: 3px;
    background-color: transparent;
    font-family: inherit;
    font-size: 1.1em;
    transform: translateY(0);
    transition-property: box-shadow;
    transition-duration: .2s;
    transition-timing-function: ease-out;
    cursor: pointer;

    &:hover,
    &:focus {
        cursor: pointer;
    }

    & .spinner,
    & .svg-icon {
        width: 1.8em;
        height: 1.8em;
        margin-right: 8px;
        flex-shrink: 0;
    }
}

@mixin button-small() {
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 8px;
    padding-right: 8px;
}

@mixin button-color($color-start: #ff9a44, $color-stop: #fc6076, $text-color: #fff) {
    background-image: linear-gradient(-20deg, #{$color-stop} 0%, #{$color-start} 100%);
    color: #{$text-color};

    &:hover,
    &:focus {
        box-shadow: 0 0 6px #{$color-start};
    }

    &:active {
        outline: none;
        box-shadow: 0 0 20px #{$color-start};
    }
}

@mixin button-color-secondary() {
    @include button-color(#43cec0, #99d8fc);
}

input,
textarea {
    text-overflow: ellipsis;
}

input[type="date"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"],
textarea {
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 8px;
    padding-right: 8px;
    border-width: 1px;
    border-style: solid;
    border-color: $color-grey;
    border-radius: 3px;
    font-family: inherit;
    transition-property: border-color, box-shadow;
    transition-duration: .2s;
    transition-timing-function: ease-out;

    &:focus {
        box-shadow: inset 0 0 0 1px $color-primary-normal;
        border-color: $color-primary-normal;
    }
}

textarea {
    max-width: 100%;
    resize: vertical;
}

a {
    display: inline-block;
    vertical-align: baseline;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-color: $color-grey;
    text-decoration: none;
    color: $color-grey-dark;
    transition-property: color, border-color;
    transition-duration: .2s;
    transition-timing-function: ease-out;

    &:hover,
    &:focus {
        border-color: #ff9a44;
    }
}

img {
    max-width: 100%;
}
