input:focus,
select:focus,
textarea:focus {
    outline: none;
}

@mixin button-small() {
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 8px;
    padding-right: 8px;
}

@mixin button-large() {
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 24px;
    padding-right: 24px;
}

@mixin button-color($color-start: #ff9a44, $color-stop: #fc6076, $text-color: #fff) {
    background-image: linear-gradient(-20deg, #{$color-stop} 0%, #{$color-start} 100%);
    color: #{$text-color};

    &:hover,
    &:focus {
        filter: brightness(1.2) saturate(1.2);
    }

    &:focus {
        outline-color: $color-start;
        outline-style: solid;
        outline-width: 1px;
    }

    &:active {
        outline: none;
    }
}

@mixin button-color-secondary() {
    @include button-color(#43cec0, #99d8fc);
}

button,
.button {
    display: inline-flex;
    align-items: center;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 12px;
    padding-right: 12px;
    border-width: 0;
    border-radius: 3px;
    background-color: transparent;
    font-family: inherit;
    font-size: 1.1em;
    transform: translateY(0);
    transition-property: filter;
    transition-duration: .2s;
    transition-timing-function: ease-out;
    cursor: pointer;

    &:hover,
    &:focus {
        cursor: pointer;
    }

    & .spinner,
    & .svg-icon {
        width: 1.8em;
        height: 1.8em;
        margin-right: 8px;
        flex-shrink: 0;
    }

    &.-facebook {
        @include button-color(#3b5998, #2b4170);
    }

    &.-google {
        @include button-color(#e64522, #c33219);
    }

    &.-twitter {
        @include button-color(#00aced, #0081ce);
    }
}

[type="date"],
[type="datetime-local"],
[type="email"],
[type="month"],
[type="number"],
[type="password"],
[type="search"],
[type="tel"],
[type="text"],
[type="time"],
[type="url"],
[type="week"],
textarea,
.-is-fake-input {
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 8px;
    padding-right: 8px;
    border-width: 1px;
    border-style: solid;
    border-color: $color-grey;
    border-radius: 3px;
    line-height: 1.4;
    font-family: inherit;
    text-overflow: ellipsis;
    transition-property: border-color, box-shadow;
    transition-duration: .2s;
    transition-timing-function: ease-out;

    &:focus {
        box-shadow: inset 0 0 0 1px $color-primary-normal;
        border-color: $color-primary-normal;
    }
}

textarea {
    max-width: 100%;
    resize: vertical;
}

.-is-fake-input {
    position: absolute;
    left: 0;
    visibility: hidden;
    white-space: nowrap;
}

a {
    display: inline-block;
    vertical-align: baseline;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-color: $color-grey;
    text-decoration: none;
    color: $color-grey-dark;
    transition-property: color, border-color;
    transition-duration: .2s;
    transition-timing-function: ease-out;

    &:hover,
    &:focus {
        border-color: #ff9a44;
    }
}

img {
    max-width: 100%;
}

ul {
    padding: 0;
}
