input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

button {
    border-width: 0;
    border-radius: 3px;
    font-family: inherit;

    transition-property: color, background-color;
    transition-duration: .2s;
    transition-timing-function: ease-out;

    background-color: transparent;
    &:hover,
    &:focus {
        cursor: pointer;
    }
}

input {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

img {
    max-width: 100%;
}
