//Only import views style
//This file is imported from app.scss

@import "../views/authenticate/authenticate";
@import "../views/home/home";
@import "../views/lie/lie";
@import "../views/lie-form/lie-form";
@import "../views/moderate/moderate";
