.lie-item {
    position: relative;
    width: 40rem;
    max-width: 100%;
    background-color: $color-whitey;
    box-shadow: 0 10px 20px rgba($color-grey-dark, .19), 0 6px 6px rgba($color-grey-dark, .23);

    &-header {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        min-height: 30rem;
        padding: 1.2rem;
    }

    &-content {
        padding: 2rem;
        overflow: hidden;
        transition-property: height;
        transition-timing-function: ease-out;
    }

    &-figure {
        margin: 0;
        overflow: hidden;
        color: #2d2a32;

        &,
        &::after {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
        }

        &::after {
            content: "";
            top: 100%;
            // TODO: Find a way to add this linear-gradient with currentColor (maybe in JS with variable directly?)
            // background-image: linear-gradient(to top, rgba(currentColor, .8) 0%, rgba(currentColor, .6) 50%, rgba(currentColor, 0) 100%);
            background-image: linear-gradient(to top, currentColor 0%, transparent 100%);
            background-size: 100% 120%; // TODO: background-size: initial;
            opacity: 0;
            transition-property: top, opacity;
            transition-duration: $appear-duration * 1s;
            transition-delay: 0, $appear-duration * .5s;
            transition-timing-function: ease-out;
        }
    }

    &-picture {
        position: relative;
        height: 100%;
        width: 100%;
        object-fit: cover;

        &:not([src]) {
            height: calc(100% + 2px);
            width: calc(100% + 2px);
            max-width: calc(100% + 2px);
            margin: -1px;
        }

        &::before {
            content: "";
            position: absolute;
            top: 1px;
            bottom: 1px;
            left: 1px;
            right: 1px;
            border-style: dashed;
            border-width: 6px;
            border-color: currentColor;
            background-image: url(https://as1.ftcdn.net/jpg/00/50/30/98/500_F_50309826_AOFCleYgLuClCZ2WKssoSeC10ZhFyljz.jpg);
            background-repeat: no-repeat;
            background-position: center center;
            background-size: cover;
        }
    }

    &-liar,
    &-title {
        position: relative;
        text-shadow: $shadow-depth-2;
        color: rgba($color-whitey, .9);
        opacity: 0;
        transform: translateY(-100%);
        transition-property: opacity, transform;
        transition-duration: $appear-duration * 1s;
        transition-timing-function: ease-out;
    }

    &-liar {
        position: relative;
        align-self: flex-end;
        margin: 0;
        padding: .2em .4em;
        text-align: right;
        font-size: 1.4em;
    }

    &-title {
        margin-bottom: 2rem;
        margin-left: 1.2em;
        margin-right: 1.2em;
        text-align: center;
        line-height: 1.1;
        font-family: Lora, sans-serif;
        font-size: 1.6em;

        &::before,
        &::after {
            position: absolute;
            font-size: 2em;
        }

        &::before {
            content: "“ ";
            top: 0;
            left: -.6em;
        }

        &::after {
            content: " ”";
            bottom: -.5em;
            right: -.6em;
        }
    }

    &-text {
        &-chunk {
            &:first-child {
                margin-top: 0;
            }
        }
    }

    &-votes {
        margin-bottom: 2rem;
    }

    &-vote {
        position: relative;
        display: flex;
        flex-direction: column;

        &-bar {
            display: flex;
            height: 3.6rem;

            &.-liar {
                order: 2;
                background-image: linear-gradient(to left, #dc2430, #ff512f, #f09819);
            }

            &.-not-liar {
                background-image: linear-gradient(to right, #24c6dc, #514a9d);
            }

            &-part {
                transition-property: width;
                transition-duration: .2s;
                transition-timing-function: ease-out;

                &:last-child {
                    flex-grow: 1;
                    background-color: rgba($color-whitey, .8);
                }
            }
        }

        &-count {
            position: absolute;
            top: 50%;
            left: 0;
            padding-left: 12px;
            padding-right: 12px;
            border-radius: 3px;
            font-size: 1.4em;
            font-weight: 700;
            color: #fff;
            text-shadow: 1px 1px 4px $color-grey-dark;
            transform: translateY(-50%);
        }

        &-indicator {
            display: inline-block;
            vertical-align: middle;
            width: .7em;
            height: .7em;
            margin-left: .3em;
            fill: #fff;
            filter: drop-shadow(1px 1px 2px $color-grey-dark);
            opacity: 0;
            transition-property: opacity;
            transition-duration: .2s;
            transition-timing-function: ease-out;
        }

        &-button {
            position: absolute;
            top: 50%;
            right: 12px;
            @include button-small();
            transform: translateY(-50%);

            &.-liar {
                @include button-color(lighten(#f09819, 10%), lighten(#dc2430, 10%));
            }

            &.-not-liar {
                @include button-color(lighten(#24c6dc, 10%), lighten(#514a9d, 10%));
            }
        }

        &.-is-actual-vote & {
            &-indicator {
                opacity: 1;
            }
        }
    }

    &-more {
        position: relative;
        text-align: center;

        &-button {
            @include button-color();
        }

        &-content {
            margin-bottom: 2rem;
            overflow: hidden;
            text-align: left;
            transition-property: height, margin-bottom;
            transition-duration: .4s;
            transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);

            &.-is-not-expanded {
                height: 0 !important;
                margin-bottom: 0;
                transition-timing-function: cubic-bezier(0.6, -0.28, 0.735, 0.045);
            }
        }
    }

    &-sources {
        margin-top: 0;
        margin-bottom: 0;
        padding-left: 0;
        list-style-type: none;
        line-height: 1.4;

        &-wrapper {
            display: flex;
            flex-direction: column;
        }

        &-title {
            position: relative;
            margin-bottom: .4em;

            & > * {
                display: inline-block;
                vertical-align: middle;
            }

            &-icon {
                width: 2em;
                height: 2em;
                padding-left: .2em;
                padding-right: .2em;
                fill: $color-grey-dark;
            }
        }
    }

    &-source {
        position: relative;
        padding-left: 1.2em;

        &::before {
            content: "";
            position: absolute;
            top: 50%;
            left: .4em;
            display: block;
            width: .4em;
            height: .4em;
            margin-top: -.2em;
            border-width: 1px;
            border-style: solid;
            border-radius: 50%;
        }

        &-link {
            display: block;
            margin-bottom: .4em;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
    }

    &-form {
        .lie-item-figure {
            color: #b58e4f;
        }

        .lie-item-title {
            align-self: stretch;
        }

        .lie-item-more {
            &-content {
                overflow: visible;
            }
        }

        &-footer {
            text-align: center;
        }

        &-group {
            display: flex;
            align-items: center;

            &.-upload-picture {
                position: relative;
                margin-bottom: auto;
                padding-top: 1em;
                padding-bottom: 1em;
            }

            &.-source {
                margin-bottom: 1rem;
            }
        }

        &-group & {
            &-label {
                margin-right: 12px;
            }

            &-field {
                flex-grow: 1;
            }
        }

        &-label {
            &.-upload-picture {
                @include button-color-secondary();
                @include button-small();
                margin-left: auto;
                margin-right: auto;

                & :first-child {
                    margin-left: auto;
                }

                & :last-child {
                    margin-right: auto;
                }
            }

            &.-title {
                display: block;
                line-height: 1.2;
            }
        }

        &-field {
            &.-upload-picture {
                width: 0;
                flex-grow: 0;
                opacity: 0;
            }

            &.-title,
            &.-liar {
                border-style: dashed;
                border-width: 3px;
                background-color: transparent;
                text-shadow: inherit;
                color: inherit;

                &:not(:focus) {
                    border-color: currentColor;
                }

                &:hover,
                &:focus {
                    box-shadow: none;
                }

                &::placeholder {
                    color: inherit;
                    font-style: italic;
                }
            }

            &.-title {
                display: block;
                width: 100%;
                min-height: calc(3em * 1.2 + 2 * 4px);
                text-align: center;
            }

            &.-liar {
                text-align: right;
            }

            &.-text {
                width: 100%;
                min-height: 8em * 1.2;
            }
        }

        &-add-source {
            @include button-color-secondary();
            @include button-small();
            margin-left: auto;
        }

        &-submit {
            @include button-color();
        }
    }

    &.-is-ready & {
        &-content {
            transition-duration: $appear-duration * 1s;
        }

        &-figure {
            &::after {
                top: 0;
                opacity: 1;
            }
        }

        &-title,
        &-liar {
            opacity: 1;
            transform: translateY(0);
        }

        &-title {
            transition-delay: $appear-duration * 1s;
        }

        &-liar {
            transition-delay: $appear-duration * 1.5s + $appear-duration * .5s;
        }
    }
}
