<article class="lie-item" :class="{ '-is-a-lie': isALie, '-is-not-a-lie': !isALie, '-is-ready': isReady, '-is-flipped' : isFlipped, '-is-expanded' : isExpanded }">
    <div class="lie-item-front">
        <div class="lie-item-header">
            <figure class="lie-item-figure" :style="{ color: liePictureColor('main') }">
                <img :src="liePictureUrl('main')" :alt="$t('lie.picture', { liar: lie.liar })" class="lie-item-picture -main" @load="checkIfReady">
            </figure>
            <button @click="showCardBack" class="lie-item-share-button">
                <span>
                    <span>{{ $t('msc.share.global') }}</span>
                    <svg-icon name="share"></svg-icon>
                </span>
            </button>
            <h2 class="lie-item-title">{{ lie.title }}</h2>

            <p class="lie-item-liar">{{ lie.liar }}</p>
        </div>

        <div class="lie-item-not-moderated">
            <alert class="lie-item-not-moderated-alert" type="info" :message="$t('lie.notModerated')" v-if="!lie.isModerated"></alert>
        </div>

        <div class="lie-item-content">
            <div class="lie-item-votes">
                <div class="lie-item-vote -liar" :class="{ '-is-actual-vote': actualVoteValue === 'liar' }">
                    <div class="lie-item-vote-bar -liar">
                        <div class="lie-item-vote-bar-part" :style="{ width: lieVotesPercentageLiar + '%' }"></div>
                        <div class="lie-item-vote-bar-part"></div>
                    </div>
                    <div class="lie-item-vote-count -liar">
                        {{ lieVotesCountLiar }}
                        <svg-icon name="checked" class="lie-item-vote-indicator"></svg-icon>
                    </div>
                    <button type="button" class="lie-item-vote-button -liar" @click="voteLiar">{{ $t('lie.votes.liar') }}</button>
                </div>
                <div class="lie-item-vote -not-liar" :class="{ '-is-actual-vote': actualVoteValue === 'notLiar' }">
                    <div class="lie-item-vote-bar -not-liar">
                        <div class="lie-item-vote-bar-part" :style="{ width: lieVotesPercentageNotLiar + '%' }"></div>
                        <div class="lie-item-vote-bar-part"></div>
                    </div>
                    <div class="lie-item-vote-count -not-liar">
                        {{ lieVotesCountNotLiar }}
                        <svg-icon name="checked" class="lie-item-vote-indicator"></svg-icon>
                    </div>
                    <button type="button" class="lie-item-vote-button -not-liar" @click="voteNotLiar">{{ $t('lie.votes.notLiar') }}</button>
                </div>
            </div>

            <div class="lie-item-more">
                <div class="lie-item-more-content" v-if="lieTextChunks.length" v-expand="isExpanded">
                    <div class="lie-item-text">
                        <p class="lie-item-text-chunk" v-for="textChunk in lieTextChunks">{{ textChunk }}</p>
                    </div>

                    <div class="lie-item-sources-wrapper">
                        <h3 class="lie-item-sources-title -statements">
                            <svg-icon name="speech" class="lie-item-sources-title-icon -statement"></svg-icon>
                            <span>{{ $tc('lie.sources.statementsTitle', lieSources('statements').length) }}</span>
                        </h3>
                        <ul class="lie-item-sources -statements">
                            <li class="lie-item-source" v-for="source in lieSources('statements')">
                                <a :href="source.url" target="_blank" class="lie-item-source-link -statement">{{ source.url }}</a>
                            </li>
                        </ul>

                        <h3 class="lie-item-sources-title -refutations" v-if="lieSources('refutations')">
                            <svg-icon name="megaphone" class="lie-item-sources-title-icon -refutation"></svg-icon>
                            <span>{{ $tc('lie.sources.refutationsTitle', lieSources('refutations').length) }}</span>
                        </h3>
                        <ul class="lie-item-sources -refutations">
                            <li class="lie-item-source" v-for="source in lieSources('refutations')">
                                <a :href="source.url" target="_blank" class="lie-item-source-link -refutation">{{ source.url }}</a>
                            </li>
                        </ul>

                        <h3 class="lie-item-sources-title -confirmations" v-if="lieSources('confirmations')">
                            <svg-icon name="handshake" class="lie-item-sources-title-icon -confirmation"></svg-icon>
                            <span>{{ $tc('lie.sources.confirmationsTitle', lieSources('confirmations').length) }}</span>
                        </h3>
                        <ul class="lie-item-sources -confirmations">
                            <li class="lie-item-source" v-for="source in lieSources('confirmations')">
                                <a :href="source.url" target="_blank" class="lie-item-source-link -confirmation">{{ source.url }}</a>
                            </li>
                        </ul>
                    </div>
                </div>

                <button type="button" class="lie-item-more-button" @click="toggleContent">{{ $t(isExpanded ? 'lie.readLess' : 'lie.readMore') }}</button>
            </div>
        </div>
    </div>

    <div class="lie-item-back">
        <button class="lie-item-back-close"type="button" name="button" @click="hideCardBack">
            <svg-icon name="close"></svg-icon>
        </button>
        <div class="lie-item-back-head">
            <h2 class="lie-item-title">
                {{ lie.title }}
            </h2>
        </div>
        <social-sharing :url="shareUrl" :title="$t('lie.share.title', {liar: lie.liar})" :description=" $t('lie.share.description', {title: lie.title, liar: lie.liar}) " inline-template>
            <ul class="lie-item-share-social-network-list">
                <li class="lie-item-share-social-network-item -facebook">
                    <network network="facebook" class="lie-item-share-action-button-wrapper">
                        <button type="button" name="button" class="lie-item-share-action-button -facebook">
                            <span>
                                <svg-icon name="facebook" class="lie-item-share-action-button-icon"></svg-icon>
                                <span class="lie-item-share-action-button-text">{{ $t('msc.share.facebook') }}</span>
                            </span>
                        </button>
                    </network>
                </li>
                <li class="lie-item-share-social-network-item -twitter">
                    <network network="twitter" class="lie-item-share-action-button-wrapper -twitter">
                        <button type="button" name="button" class="lie-item-share-action-button -twitter">
                            <span>
                                <svg-icon name="twitter" class="lie-item-share-action-button-icon"></svg-icon>
                                <span class="lie-item-share-action-button-text">{{ $t('msc.share.twitter') }}</span>
                            </span>
                        </button>
                    </network>
                </li>
                <li class="lie-item-share-url">
                    <label :for="'lie-item-url-' + this._uid" class="lie-item-share-url-label">{{ $t('lie.share.url') }}</label>
                    <input type="text" class="lie-item-share-url-input" name="share-url" :id="'lie-item-url-' + this._uid" :value="url" readonly>
                </li>
            </ul>
        </social-sharing>
    </div>

</article>
