header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: $header-height;

    padding-left: 24px;
    padding-right: 24px;

    box-shadow: $shadow-depth-2;
    background-image: linear-gradient(to right, #ff512f , #f09819);

    font-size: 16px;
    color: $header-font-color;

    a {
        color: inherit;
        text-decoration: none;
    }
}

.header-content {
    flex-grow: 1;

    &-toggler {
        $bar-height: 2.5px;
        $bar-space: 7px;

        display: block;
        width: 38px;
        height: 38px;
        margin-right: 12px;
        padding-top: 0;
        padding-bottom: 0;
        padding-left: 6px;
        padding-right: 6px;
        color: inherit;

        &::before,
        &::after {
            content: "";
            position: relative;
            display: block;
            width: 100%;
            height: $bar-height;
            background-color: currentColor;
            transition-duration: .2s;
            transition-timing-function: ease-out;
        }

        &::before {
            top: 0;
            margin-bottom: $bar-space * 2 + $bar-height;
            box-shadow: 0 #{$bar-space + $bar-height} 0 currentColor;
            transition-property: top, margin-bottom, box-shadow, transform;
        }

        &::after {
            bottom: 0;
            transition-property: bottom, transform;
        }

        &.-close {
            &::before {
                top: $bar-height / 2;
                margin-bottom: 0;
                box-shadow: none;
                transform: rotate(45deg);
            }

            &::after {
                bottom: $bar-height / 2;
                transform: rotate(-45deg);
            }
        }
    }
}

.header-brand {
    padding-right: 24px;
    border-bottom-width: 0;

    font-size: 1.2em;
    font-weight: 700;
}

.header-nav {
    &-link {
        display: inline-block;
        vertical-align: bottom;
        height: $header-height;
        padding-left: 12px;
        padding-right: 12px;

        border-bottom-width: 0;
        border-bottom-style: solid;
        border-bottom-color: rgba($header-font-color, 0);

        line-height: $header-height;

        transition-property: border-bottom-width, border-bottom-color;
        transition-duration: .2s;
        transition-timing-function: ease-out;

        &.router-link-active,
        &:hover,
        &:focus {
            border-bottom-width: 4px;
        }

        &:hover,
        &:focus {
            border-bottom-color: rgba($header-font-color, .6);
        }

        &.router-link-active {
            border-bottom-color: rgba($header-font-color, .8);
        }
    }
}

.header-profile {
    display: flex;
    align-items: center;
    margin-left: auto;
    padding-left: 24px;

    &-infos {
        text-align: center;
        font-size: 14px;
    }

    &-name {
        margin-top: 0;
        margin-bottom: .3em;
    }

    &-logout {
        padding-top: 2px;
        padding-bottom: 2px;
        padding-left: 6px;
        padding-right: 6px;
        border-width: 1px;
        border-style: solid;
        background-color: rgba($header-font-color, 0);
        color: inherit;
        transition-property: color, background-color, box-shadow;

        &:hover,
        &:focus {
            background-color: rgba($header-font-color, .3);
        }

        &-icon,
        &-text {
            display: inline-block;
            vertical-align: middle;
        }

        &-icon {
            margin-right: .2em;

            button & {
                width: 18px;
                height: 18px;
            }
        }

        &-text {
        }
    }

    &-picture {
        flex-shrink: 0;
        height: 38px;
        width: 38px;

        margin-left: 12px;

        border-radius: 50%;
        background-size: cover;
        background-position: 50%;
    }
}

@media (min-width: $screen-width-medium) {
    .header-content {
        display: inherit;
        flex-direction: inherit;
        align-items: inherit;

        &-toggler {
            display: none;
        }
    }
}

@media (max-width: $screen-width-medium - 1px) {
    header {
        padding-left: 12px;
        padding-right: 18px;
    }

    .header-content {
        position: fixed;
        top: $header-height;
        bottom: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        max-width: 100%;
        padding-top: 24px;
        padding-bottom: 24px;
        box-shadow: inherit;
        background-color: $color-whitey;
        color: $font-color;
        transition-property: transform;
        transition-duration: .2s;
        transition-timing-function: ease-out;
        transform: translateX(-100%);

        &.-is-shown {
            transform: translateX(0);
        }
    }

    .header-nav {
        order: 2;

        &-link {
            display: block;
            padding-left: 18px;
            padding-right: 18px;

            &.router-link-active,
            &:hover,
            &:focus {
                border-bottom-width: 0;
            }
        }
    }

    .header-profile {
        order: 1;
        margin-bottom: 24px;
        margin-left: 0;
        padding-left: 18px;
        padding-right: 18px;

        &-infos {
            order: 2;
        }

        &-picture {
            margin-left: 0;
            margin-right: 12px;
        }
    }
}
