header {
    display: flex;
    flex-direction: row;
    height: 50px;

    box-sizing: border-box;
    padding: 0 20px;

    background-color: $color-primary-normal;
}

.header-profile {
    display: flex;
    margin-left: auto;
}

.header-profile-name {
    margin: auto 0 auto auto;

    color: white;
}

.header-profile-picture {
    height: 38px;
    width: 38px;

    margin: auto 0 auto 20px;

    border-radius: 50%;
    background-size: cover;
    background-position: 50%;
}
