@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
      transform: translateY(0);
  }
  40% {
      transform: translateY(-20px);
  }
  60% {
      transform: translateY(-10px);
  }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes rightToLeft {
    0% {
        transform: translateX(10%);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes leftToRight {
    0% {
        transform: translateX(-10%);
    }

    100% {
        transform: translateX(0);
    }
}

.home-view {
    position: relative;
    flex-grow: 1;
}

.home-view section {
    display: flex;
    min-height: calc(100vh - 10px);
}

.home-first-section {
    position: relative;
    background-image: url('../../img/home_background.jpg');
    background-size: cover;
}

.home-first-overlay {
    display: flex;
    width: 100%;
    background-image: url('../../img/dot_pattern.png'),
}

.home-first-content {
    display: flex;
    flex-direction: column;
    min-width: 50%;
    margin: auto 0 auto auto;

    color: white;

}

.home-first-title {
    min-width: 500px;
    flex-shrink: 0;
    width: 100%;

    font-family: Lato;

    font-size: 4em;
    text-shadow: 5px 8px 15px #1b1b1b;

    animation: fadeIn ease-in-out 1.6s;
}

.home-title-first-line {
    display: block;
    animation: leftToRight 1.6s ease-out;
}

.home-title-break {
    display: block;
    margin-left: 10%;

    animation: rightToLeft 1.6s ease-out;
}

.home-first-list-item {
    font-size: 1.8em;
    margin: 20px 0;
}

.home-go-bottom-button {
    position: absolute;
    bottom: 50px;
    left: calc(50% - 25px);
    height: 50px;
    width: 50px;

    animation: bounce 2.6s infinite;
    svg {
        height: 30px;
        width: 30px;

        border-radius: 50%;
        fill: white;
        transition: .3s;
    }

    &:hover {
        svg {
            background-color: white;
            fill: $color-primary-normal;
        }
    }
}


.home-second-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 40px;
    box-sizing: border-box;

    background-image: url('../../img/bokhe2.jpg');
    background-size: cover;
    .lie-item {
        margin: auto;
        margin-bottom: 40px;
    }
}

.home-second-title, .who-title {
    margin: 0;
    padding: 10px 60px;
    box-sizing: border-box;

    transform: translateY(-50%);
    font-size: 3em;
    text-align: center;
    color: white;
    text-decoration: underline;
    border-radius: 3px;
    background-color: #fc7e38;
}

.home-explanation-wrapper {
    display: flex;
    flex-direction: row;
    width: 80%;
    max-width: 1400px;

    margin: auto;
}

.home-explanations {
    display: flex;
    flex-grow: 1;

    margin: auto auto auto 10%;

    color: white;
    font-size: 2em;
}

.home-explanation-item {
    margin: 30px 0;
    text-shadow: 1px 1px 10px rgb(20, 20, 20);
    svg {
        height: 20px;
        width: 20px;

        fill: #fc7e38;
    }
}

.explanation-liar-profile-text {
    padding-bottom: 30px;
    color: white;
    font-size: 1.4em;
}


.who {
    align-items: center;
    flex-direction: column;
}

.who-explanations {
    display: flex;
    flex-direction: row;
    flex-grow: 1;

    margin: auto;
    width: 80%;
    max-width: 1400px;
}

.who-left,
.who-right {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin: auto;
    flex-grow: 1;
}

.who-left {
    font-size: 2em;
}

.who-right {
    font-size: 2.3em;
}

.who-list-item {
    margin: 30px 0 30px 80px;

    .svg-icon {
        height: 20px;
        width: 20px;
        vertical-align: top;
    }
    .svg-icon.big {
        height: 50px;
        width: 50px;

        margin-right: 30px;
        vertical-align: middle;
    }

    .link {
        &:hover {
            text-decoration: underline;
        }
    }

    .link-hover-icon {
        display: none;
    }

    &:hover {
        .link-icon {
            display: none;
        }

        .link-hover-icon {
            display: inline;
        }
    }
}

.who-handshake-icon {
    height: 300px;
    width: 300px;
}

@media all and (orientation: landscape) and (max-width: 1000px) {
    .who-explanations, .home-explanation-wrapper {
        flex-direction: column;
    }
}


@media all and (orientation: landscape) and (max-width: 1600px) {
    .who-right {
        font-size: 1.5em;
    }
}
