<div class="home-view">
    <section class="home-first-section">
        <div class="home-first-overlay">
            <div class="home-first-content">
                <h1 class="home-first-title"><span class="home-title-first-line">Il n'est pas le</span><span class="home-title-break"> seul à avoir menti.</span></h1>
                <ul class="home-first-list">
                    <li class="home-first-list-item">
                        Débusquez les mensonges
                    </li>
                    <li class="home-first-list-item">
                        Partagez vos opinions
                    </li>
                    <li class="home-first-list-item">
                        Faites éclater la vérité
                    </li>
                </ul>
            </div>

            <button class="home-go-bottom-button"type="button">
                <svg-icon name="chevron-down-circle">

                </svg-icon>
            </button>
        </div>
    </section>

    <section class="home-second-section">
        <h2 class="home-second-title">Le concept</h2>
        <div class="home-explanation-wrapper">
            <lie-item lie-uid="fe34b314-c967-4df4-a04d-efb2dddfbe30"></lie-item>
            <div class="home-explanations">
                <ul class="home-explanation-list">
                    <li class="home-explanation-item">
                        <svg-icon name="chevron-left"></svg-icon>
                        Dénoncez le mensonge.
                    </li>
                    <li class="home-explanation-item">
                        <svg-icon name="chevron-left"></svg-icon>
                        Décrivez le contexte, qui, quand, ou, pourquoi.
                    </li>
                    <li class="home-explanation-item">
                        <svg-icon name="chevron-left"></svg-icon>
                        Citez des sources qui prouvent qu'il ment.
                    </li>
                    <li class="home-explanation-item">
                        <svg-icon name="chevron-left"></svg-icon>
                        La cummunauté juge de la véracité du mensonge.
                    </li>
                </ul>
            </div>
        </div>
        <span class="explanation-liar-profile-text">(et nous dresserons un profil pour chaque menteur)</span>
    </section>
</div>
