<!-- // IMPORTANT
// FORM CONTENT IS DOM REVERSED AND ORDERED CORRECTLY BY FLEX DIRECTION PROPERTY IN components/lie-item/lie-item.scss -->

<form action="" class="lie-item lie-item-form -is-ready" @submit.prevent="saveLie">
    <!-- BOTTOM  -->
    <div class="lie-item-content">
        <div class="lie-item-more">
            <div class="lie-item-more-content">
                <div class="lie-item-text">
                    <label :for="fieldId('text')" class="lie-item-form-label -text">{{ $t('lieForm.text') }}</label>
                    <textarea name="text" :id="fieldId('text')" class="lie-item-form-field -text" :placeholder="$t('lieForm.textPlaceholder')" required v-model="lie.text"></textarea>
                </div>

                <div class="lie-item-sources-wrapper">
                    <h3 class="lie-item-sources-title -statements">
                        <svg-icon name="speech" class="lie-item-sources-title-icon -statement"></svg-icon>
                        <span>{{ $tc('lie.sources.statementsTitle', lie.sources.statements.length) }}</span>
                    </h3>

                    <ul class="lie-item-sources -statements">
                        <li class="lie-item-source" v-for="(statement, index) in lie.sources.statements">
                            <lie-form-source :id="fieldId('source-statement-' + index)" :number="index + 1" :source="lie.sources.statements[index]" :is-required="index === 0"></lie-form-source>
                        </li>
                    </ul>

                    <button type="button" class="lie-item-form-add-source -statement" @click="addStatement">{{ $t('lieForm.sources.add') }}</button>
                </div>

                <div class="lie-item-sources-wrapper">
                    <h3 class="lie-item-sources-title -refutations">
                        <svg-icon name="megaphone" class="lie-item-sources-title-icon -refutation"></svg-icon>
                        <span>{{ $tc('lie.sources.refutationsTitle', lie.sources.refutations.length) }}</span>
                    </h3>

                    <ul class="lie-item-sources -refutations">
                        <li class="lie-item-source" v-for="(refutation, index) in lie.sources.refutations">
                            <lie-form-source :id="fieldId('source-refutation-' + index)" :number="index + 1" :source="lie.sources.refutations[index]"></lie-form-source>
                        </li>
                    </ul>

                    <button type="button" class="lie-item-form-add-source -refutation" @click="addRefutation">{{ $t('lieForm.sources.add') }}</button>
                </div>

                <div class="lie-item-sources-wrapper">
                    <h3 class="lie-item-sources-title -confirmations">
                        <svg-icon name="handshake" class="lie-item-sources-title-icon -confirmation"></svg-icon>
                        <span>{{ $tc('lie.sources.confirmationsTitle', lie.sources.confirmations.length) }}</span>
                    </h3>

                    <ul class="lie-item-sources -confirmations">
                        <li class="lie-item-source" v-for="(confirmation, index) in lie.sources.confirmations">
                            <lie-form-source :id="fieldId('source-confirmation-' + index)" :number="index + 1" :source="lie.sources.confirmations[index]"></lie-form-source>
                        </li>
                    </ul>

                    <button type="button" class="lie-item-form-add-source -confirmation" @click="addConfirmation">{{ $t('lieForm.sources.add') }}</button>
                </div>
            </div>
        </div>

        <div class="lie-item-form-footer">
            <button type="submit" class="lie-item-form-submit">{{ $t('lieForm.submit') }}</button>
        </div>
    </div>
    <!--  END BOTTOM -->



    <!-- HEAD -->
    <div class="lie-item-header">
        <figure class="lie-item-figure" :style="{ color: liePictureColor('main') }">
            <img :src="liePictureUrl('main')" :alt="$t('lie.picture', { liar: lie.liar })" class="lie-item-picture -main" @load="checkIfReady">
        </figure>

        <div class="lie-item-form-group -upload-picture">
            <input type="file" name="upload[pictures][main]" :id="fieldId('upload-picture-main')" class="lie-item-form-field -upload-picture -main" required @change="uploadMainPicture" accept=".png,.jpg">
            <label :for="fieldId('upload-picture-main')" class="lie-item-form-label -upload-picture -main button">
                <svg-icon name="upload" v-if="!isUploading"></svg-icon>
                <spinner v-if="isUploading"></spinner>
                <span>{{ isUploading ? $t('lieForm.uploading') : $t('lieForm.upload.pictures.main') }}</span>
            </label>
        </div>

        <div class="lie-item-title">
            <textarea name="title" :id="fieldId('title')" class="lie-item-form-field -title" :placeholder="$t('lieForm.title')" rows="1" autofocus required v-model="lie.title" v-autosize></textarea>
        </div>
        <div class="lie-item-liar">
            <div class="lie-item-selected-liar">
                <div class="lie-item-selected-liar-picture" :style='{ backgroundImage: "url(" + selectedLiar.liarPictureUrl + ")", }'>
                </div>
                <div class="lie-item-selected-liar-name">
                </div>
            </div>
            <input type="text" name="liar" :id="fieldId('liar')" class="lie-item-form-field -liar" :class="{active : liarListOpened, selected : selectedLiar.uid }" :placeholder="$t('lieForm.liar')" required v-model="liarFullName" v-autosize @click="openLiarList">
            <ul class="lie-item-liars-list">
                <li class="lie-item-liars-list-item" v-for="liar in liars" @click="selectLiar(liar)">
                    <div class="lie-item-liars-list-item-picture" :style='{ backgroundImage: "url(" + liar.liarPictureUrl + ")", }'>

                    </div>
                    <span class="lie-item-liars-list-item-name" >{{liar.name + ' ' + liar.familyName}}</span>
                </li>
            </ul>
        </div>
    </div>

    <!-- HEAD END -->
</form>
