<form action="" class="lie-item lie-item-form -is-ready" @submit.prevent="saveLie">
    <div class="lie-item-header">
        <figure class="lie-item-figure" :style="{ color: liePictureColor('main') }">
            <img :src="liePictureUrl('main')" :alt="$t('lie.picture', { liar: lie.liar })" class="lie-item-picture -main" @load="checkIfReady">
        </figure>

        <div class="lie-item-form-group -upload-picture">
            <input type="file" name="upload[pictures][main]" :id="fieldId('upload-picture-main')" class="lie-item-form-field -upload-picture -main" required @change="uploadMainPicture">
            <label :for="fieldId('upload-picture-main')" class="lie-item-form-label -upload-picture -main button">
                <svg-icon name="upload" v-if="!isUploading"></svg-icon>
                <spinner v-if="isUploading"></spinner>
                <span>{{ isUploading ? $t('lieForm.uploading') : $t('lieForm.upload.pictures.main') }}</span>
            </label>
        </div>

        <div class="lie-item-title">
            <textarea name="title" :id="fieldId('title')" class="lie-item-form-field -title" :placeholder="$t('lieForm.title')" rows="1" autofocus required v-model="lie.title" v-autosize></textarea>
        </div>

        <p class="lie-item-liar">
            <input type="text" name="liar" :id="fieldId('liar')" class="lie-item-form-field -liar" :placeholder="$t('lieForm.liar')" required v-model="lie.liar" v-autosize>
        </p>
    </div>

    <div class="lie-item-content">
        <div class="lie-item-more">
            <div class="lie-item-more-content">
                <div class="lie-item-text">
                    <label :for="fieldId('text')" class="lie-item-form-label -text">{{ $t('lieForm.text') }}</label>
                    <textarea name="text" :id="fieldId('text')" class="lie-item-form-field -text" :placeholder="$t('lieForm.textPlaceholder')" required v-model="lie.text"></textarea>
                </div>

                <div class="lie-item-sources-wrapper">
                    <h3 class="lie-item-sources-title -statements">
                        <svg-icon name="speech" class="lie-item-sources-title-icon -statement"></svg-icon>
                        <span>{{ $tc('lie.sources.statementsTitle', lie.sources.statements.length) }}</span>
                    </h3>

                    <ul class="lie-item-sources -statements">
                        <li class="lie-item-source" v-for="(statement, index) in lie.sources.statements">
                            <lie-form-source :id="fieldId('source-' + index)" :number="index + 1" :source="lie.sources.statements[index]" :is-required="index === 0"></lie-form-source>
                        </li>
                    </ul>

                    <button type="button" class="lie-item-form-add-source" @click="addStatement">{{ $t('lieForm.sources.add') }}</button>
                </div>
            </div>
        </div>

        <div class="lie-item-form-footer">
            <button type="submit" class="lie-item-form-submit">{{ $t('lieForm.submit') }}</button>
        </div>
    </div>
</form>
