.authenticate {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    padding: 30px 50px;

    box-shadow: 0px 10px 20px -5px rgba(194,194,194,1);
    border-radius: 5px;
    background-color: rgba(255, 255, 255, .9);

    &-title {
        position: relative;
        margin-top: 0;
        padding: 6px 10px 10px;

        &:after {
            content: "";
            display: block;
            margin: 9px auto 0 auto;
            height: 2px;
            width: 80%;

            background-color: $color-primary-normal;
        }
    }

    &-buttons-wrapper {
        max-width: 100%;
    }

    &-button {
        display: flex;
        width: 100%;
        margin-bottom: 20px;
        margin-left: auto;
        margin-right: auto;
        @include button-large();

        &-icon {
            button & {
                margin-right: 0;

                &.-google {
                    width: 1.6em;
                    height: 1.6em;
                }
            }
        }

        &-text {
            margin-left: auto;
            margin-right: auto;
        }
    }

    &-label {
        display: block;
        margin-top: 4px;
        margin-bottom: 4px;
        text-align: left;
    }

    &-input {
        display: block;
        width: 100%;
        margin-bottom: 12px;
        padding-top: 6px;
        padding-bottom: 6px;
        padding-left: 36px;

        &-wrapper {
            position: relative;

            .svg-icon {
                position: absolute;
                top: 50%;
                left: 10px;

                height: 20px;
                width: 20px;

                transform: translateY(-50%);
                fill: lightgrey;
            }
        }
    }

    &-form {
        width: 100%;
        text-align: center;

        &-container {
            min-width: 280px;
            margin-top: 20px;
            overflow: hidden;
            transition-property: height, margin-top;
            transition-duration: .4s;
            transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);

            &.-is-not-expanded {
                height: 0 !important;
                margin-top: 0;
                transition-timing-function: cubic-bezier(0.6, -0.28, 0.735, 0.045);
            }
        }

        &-alert {
            width: 280px;
            margin-top: 20px;
            margin-bottom: 0;
        }

        &-submit {
            @include button-color();
        }
    }

    &-login {
        text-decoration: underline;
        color: #505050;
    }

    &-logout {
        @include button-color();
    }

    &-got-account {
        font-size: .9em;
        color: #848484;
    }
}

@media (max-width: $screen-width-small - 1px) {
    .authenticate {
        width: 100%;
        padding-left: 12px;
        padding-right: 12px;

        &-form {
            &-container {
                min-width: 0;
                max-width: 100%;
            }
        }
    }
}
