.authenticate {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    padding: 30px 50px;

    box-shadow: 0px 10px 20px -5px rgba(194,194,194,1);
    border-radius: 5px;
    background-color: rgba(255, 255, 255, .9);
}

.authenticate-title {
    position: relative;
    margin-top: 0;
    padding: 6px 10px 10px;

    &:after {
        content: "";
        display: block;
        margin: 9px auto 0 auto;
        height: 2px;
        width: 80%;

        background-color: $color-primary-normal;
    }
}

.authenticate-button {
    display: block;
    width: 280px;
    margin-bottom: 20px;
    padding: 8px 22px;

    color: white;
    border-radius: 3px;

    &.-facebook {
        background-color: $facebook-color;
    }

    &.-twitter {
        background-color: $twitter-color;
    }

    &.-google {
        background-color: $google-color;
    }
}

.signup-form-container {
    &.-hide-signup-form {
        background: red;
    }
}

.signup-title {
    text-align: center;
    font-weight: normal;
    text-decoration: underline;

    color: rgb(80, 80, 80);
}

.signup-form {
    width: 100%;
    text-align: left;
}

.signup-input-label {
    display: block;
    margin: 4px 0;
}

.signup-input {
    width: 100%;
    padding: 6px 10px 6px 40px;

    box-sizing: border-box;
    border: 1px solid $color-grey-light;
    border-radius: 3px;
}

.signup-form-submit {
    width: 100%;
    margin-top: 10px;
    padding: 6px 0;

    box-sizing: border-box;
    color: white;
    border-radius: 5px;
    background-color: $color-primary-normal;
}

.authenticate-got-account {
    font-size: .7em;
    color: lightgrey;
    cursor: pointer;
}
